<div class="modal-header">
  <h4 ngbAutofocus class="modal-title">You have changes</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>Are you sure you want to discard these changes</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.dismiss('Cancel click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-outline-warning"
    (click)="activeModal.close('OK click')"
  >
    OK
  </button>
</div>
