<div class="row m-0 p-0">
  <div class="d-flex flex-column justify-content-center" style="height: 100px;  background-color: gainsboro;">
    <div class="row">

      <div class="d-flex col justify-content-start">
        <div class="ms-4">
          <div class="d-flex hr-theme mb-2">
            <div class="hr-line-left w-100"></div>
            <div class="hr-icon">Velikost strani</div>
            <div class="hr-line-right w-100"></div>
          </div>
          <div class="btn-group" role="group" *ngFor="let ps of pageSizes">
            <a role="button" (click)="setPageSize(ps)" class="page-size-button me-1"
              [ngClass]="pageSize==ps? 'page-size-button-active' : ''">
              {{ps}}
            </a>
            <!-- <a role="button" (click)="pageData.pageSize = pageSize"
                [classList]="pageData.pageSize==pageSize? 'page-size-button-active' : 'page-size-button'">
              </a> -->
          </div>
        </div>
      </div>


      <div class="col d-flex justify-content-end">
        <div class="d-flex align-self-center">
          <button type="button" class="btn btn-primary" placement="left" [popoverTitle]="popTitle"
            [autoClose]="'outside'" [ngbPopover]="popContent" container="body">
            Izberi stolpce
          </button>
        </div>
      </div>
    </div>


    <ng-template #popTitle>
      Select columns to show
    </ng-template>
    <ng-template #popContent>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="ngb-panel-0">
          <ng-template ngbPanelTitle>
            <h6>Teamwork columns</h6>
          </ng-template>
          <ng-template ngbPanelContent>
            <div *ngFor="let column of twpColumns" class="mb-1">
              <label class="switch">
                <input type="checkbox" [checked]="column.visible" (change)="saveColumnPreferences(column)">
                <div>
                  <span style="font-size: 16px;">{{column.field}}</span>
                </div>
              </label>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-panel-1">
          <ng-template ngbPanelTitle>
            <h6>Project data columns</h6>
          </ng-template>
          <ng-template ngbPanelContent>
            <div *ngFor="let column of customProjectColumns" class="mb-1">
              <label class="switch">
                <input type="checkbox" [checked]="column.visible" (change)="saveColumnPreferences(column)">
                <div>
                  <span>{{column.field}}</span>
                </div>
              </label>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="ngb-panel-2">
          <ng-template ngbPanelTitle>
            <h6 class="me-2">Finance data columns</h6>
          </ng-template>
          <ng-template ngbPanelContent>
            <div *ngFor="let column of customFinanceColumns" class="mb-1">
              <label class="switch">
                <input type="checkbox" [checked]="column.visible" (change)="saveColumnPreferences(column)">
                <div>
                  <span>{{column.field}}</span>
                </div>
              </label>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </div>
<div class="d-flex m-0">
  <input type="search" [(ngModel)]="filterText" class="form-control w-auto mt-3" placeholder="Filter...">
  <div class="col d-flex justify-content-end me-1">
    <button class="btn btn-success align-self-end"><i class="fa-solid fa-user-plus me-2"></i>Dodaj</button>
  </div>
</div>
  <app-users-grid [columns]="columns" [users]="users | userFilter: filterText "
    [pageData]="{pageSize: pageSize}" (projectDataChanged)="test($event)"></app-users-grid>
</div>